body {
  box-sizing: border-box;
  margin: 0px;
}
.app-container {
  font-family: 'Merriweather', serif;
}

.form-container {
  margin: 32px 24px 24px 24px;
}

.header-container {
  background: rgb(88, 88, 88);
  padding: 32px 24px;
}

.header-primary {
  color: #ffffff;
  font-family: 'roboto';
  margin-top: 32px;
  margin-bottom: 16px;
}
.header-secondary {
  color: #eaeaea;
  font-family: 'Merriweather';
  line-height: 1.8;
  font-size: 14px;
}

.button-styles {
  background: #ffab44;
  width: 100%;
  padding: 10px;
  height: 48px;
  font-weight: bold;
  margin-top: 24px;
  border-radius: 6px;
  font-family: 'roboto';
  border: none;
}
.button-text {
  margin: 0px 8px;
  font-size: 16px;
  color: #ffffff;
}

.input-label {
  font-family: 'merriwhether';
  color: #666666;
  font-weight: '400';
  font-size: 12px;
}
.label-required {
  font-family: 'merriwhether';
  color: #e70000;
  font-weight: '400';
  font-size: 12px;
}
.input {
  background-color: #f7f7f7;
  width: 100%;
  padding: 0px 16px;
  margin: 8px 0 24px 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-style: none;
  border: 1px solid #eaeaea;
  height: 48px;
  font-size: 14px;
  color: #666666;
}
#input-required {
  border: 1px solid #e70000;
  background-color: #ffffff;
  outline: none;
}
input[type='text']:focus {
  background-color: #ffffff;
  border: 1px solid #00adee;
  outline: none;
}
@media (min-width: 767px) {
  .split {
    height: 100%;
    width: 43.8%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 32px;
  }
  .header-container {
    left: 0;
    width: 50%;
    margin: 0 24px 0 0;
  }
  .header-content {
    padding: 0px 80px;
  }
  .header-primary {
    font-size: 32px;
  }
  .form-container {
    right: 0;
    margin-left: 0;
  }
  .centered {
    position: absolute;
    width: 376px;
    top: 270px;
    left: 195px;
    transform: translate(-50%, -50%);
  }
  .button-styles {
    width: auto;
    padding: 0 24px;
    outline: none;
  }
}
